.tableWrapper {
  display: flex;
  justify-content: center;
  margin: 2rem auto;

  table {
    border: 1px solid #f5f5f5;
    border-collapse: separate;
    border-spacing: 2px;
    display: inline-block;
    font-size: 13px;
    max-width: 100%;
    overflow-x: auto;
    width: auto;

    tr:nth-child(2n - 1) {
      background-color: #f3f5f5;
    }

    thead tr {
      background-color: #fff !important;
    }

    th,td {
      border: none;
      min-width: 100px;
      padding: 8px 6px;
    }
  }
}

.postWrap {
  display: flex;

  .content {
    overflow: auto;
  
    .postTitle {
      margin-bottom: 56px;
      padding-top: 56px;
      margin-bottom: 25px;
      font-size: 2rem;
      text-align: center;
    }
  
    .tagsWrap {
      margin-bottom: 4rem;
      text-align: center;
    }
  
    h1 {
      font-size: 2.5rem;
    }
  
    h2 {
      margin: 2.5rem 0 1.25rem;
      font-size: 2rem;
    }
  
    h3 {
      margin: 1.875rem 0 1.25rem;
      font-size: 1.5rem;
    }
  
    li, p {
      line-height: 2em;
    }
  
  
    pre {
      font-size: 1em;
      margin: 2rem 0;
      border-radius: 0.4rem;
      padding: 1rem !important;
      line-height: 1.5em;
      background-color: rgb(40, 44, 52) !important;
      overflow: auto;
    }
  
    code, pre {
      font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
  
    pre code span {
      line-height: 1.5em;
    }
  
    p>code, li>code {
      color: #da615c;
      background-color: #ededeb;
      border-radius: .25rem;
      padding: 0 .25rem;
    }

    img {
      width: 100%;
    }

    blockquote {
      overflow: auto;
    }
  }

  .catelogWrap {
    padding: 150px 0;
    width: 264px;

    .menuFixed {
      position: sticky;
      top: 221px;
      user-select: none;

      ol {
        padding-inline-start: 1rem;
      }
    }
  }
}


.postTag {
  display: inline-block;
  margin: 0 .3em;
  padding: .15em .374em;
  border-radius: .25em;
  font-size: 13px;
  line-height: 1.6em;
  color: #00965e;
  background-color: #e5f4ef;
}

@media (max-width: 768px) {
  .postWrap {
    .catelogWrap {
      display: none;
    }
  }
}