.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  color: #717171;
  flex-direction: column;
  font-size: 14px;
  height: 240px;
  text-align: center;
  a {
    text-decoration: none;
    color: inherit;
  }
}