.banner {
  margin: 0 auto;
  position: relative;
  background-color: #e7f6f8;
  height: 800px;
  width: 100%;
  border-radius: 20px;
  h1 {
    position: absolute;
    left: 15%;
    top: 35%;
    font-size: 60px;
  }
  .bannerPic1 {
    position: absolute;
    right: 5%;
    bottom: 50px;
  }
  .bannerPic2 {
    position: absolute;
    top: 50px;
    right: 5%;
  }
}