.mainTitleWrap {
  padding: 40px;
  text-align: center;

  .mainTitle {
    display: inline-block;
    padding: 16px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &::before {
      background-color: #333;
      bottom: 0;
      content: "";
      height: 2px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 50%;
    }
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;

  .postSmall {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;

    a {
      text-decoration: none;
    }
  }
}